@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HelloThere</h1>
    <p><img src="~/images/image001.jpg" /></p>
    
    This is the ATH Shoop Network page.
</div>
