@{
    ViewData["Title"] = "ATH Shoop Network system Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ATH Shoop Network system.</h1>
 @* TODO: Add Description*@   
    <p>Site Description </p>
    
    <p>
@* TODO: Add Photo*@
        <img src="@Url.Content("~/images/logo.png")" alt="Simple Photo " />
    </p>
</div>
