@model ATH_Shoop_Network_system.Models.ShopViewModel

<div class="text-center">
    <h1 class="display-4">Shop Index  Page</h1>
    <div>
        <tbody>
            {
            <p>Id: @Model.Id</p>
            <p>Name: @Model.Name</p>
            <p>Address: @Model.Address</p>
            <p>Owner: @Model.Phone</p>
            }
        </tbody>



    </div>
</div>
